=image_tag "smartbar.png"
%h2 Hello, welcome to Smartbar
%p
  Now is the time to get fit.
  %p
    The time is now: #{Time.now}

%p
  = link_to '/users', 'users'
%p
  = link_to '/liftdata', 'liftdata'